main {
  margin: 0;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  background-color: aqua;
  color: black;
  font-weight: 700;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 178, 182);
  color:black;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding: 15px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  width: 100vw;
  background-color: bisque;
  color:black;
  font-weight: 700;
}

.main-section-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: beige;
  cursor: pointer;
  width: 35vw;
}

.main-section-calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: beige;
  cursor: pointer;
  width: 35vw;
}

.main-footer {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: blueviolet;
  color: black;
  font-weight: 500;
}
